<!doctype html>
<html not-ng-app="variableApp">

<head>
    <script type="text/javascript" src="../assets/js/lodash.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/css/defaults.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
    <script type="text/javascript" src="../assets/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="../assets/js/angular.min.js"></script>
    <script type="text/javascript" src="../assets/js/smart-table.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/css/smart-table.css" />

    <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome.min.css" />



    <script src="../assets/js/codemirror/codemirror.js"></script>
    <script src="../assets/js/codemirror/addon/display/autorefresh.js"></script>
    <script src="../assets/js/codemirror/addon/display/fullscreen.js"></script>
    <script src="../assets/js/codemirror/addon/hint/show-hint.js"></script>
    <script src="../assets/js/codemirror/mode/javascript/javascript.js"></script>
    <script src="../assets/js/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="../assets/js/codemirror/addon/hint/anyword-hint.js"></script>
    <script src="../assets/js/ui-codemirror.js"></script>
    <script src="../assets/js/codemirror/addon/display/placeholder.js"></script>
    <script src="../assets/js/codemirror/addon/edit/closebrackets.js"></script>
    <!-- <script src="../assets/js/codemirror/addon/edit/matchbrackets.js"></script> -->
    <script src="../assets/js/codemirror/addon/edit/trailingspace.js"></script>
    <script src="../assets/js/codemirror/addon/fold/brace-fold.js"></script>
    <script src="../assets/js/codemirror/addon/fold/comment-fold.js"></script>
    <script src="../assets/js/codemirror/addon/fold/foldcode.js"></script>
    <script src="../assets/js/codemirror/addon/fold/foldgutter.js"></script>
    <script src="../assets/js/codemirror/addon/fold/indent-fold.js"></script>
    <script src="../assets/js/codemirror/addon/scroll/simplescrollbars.js"></script>

    <link href="../assets/js/codemirror/codemirror.css" rel="stylesheet" />
    <link href="../assets/js/codemirror/theme/mdn-like.css" rel="stylesheet" />
    <link href="../assets/js/codemirror/addon/display/fullscreen.css" rel="stylesheet" />
    <link href="../assets/js/codemirror/addon/hint/show-hint.css" rel="stylesheet" />
    <link href="../assets/js/codemirror/addon/fold/foldgutter.css" rel="stylesheet" />
    <link href="../assets/js/codemirror/addon/scroll/simplescrollbars.css" rel="stylesheet" />

    <script type="text/javascript" src="/homey.js" data-origin="settings"></script>

    <script type="text/javascript" src="../assets/js/bll.module.js"></script>
    <link href="../assets/css/bll.css" rel="stylesheet" />

    <script type="text/javascript" src="variableController.js"></script>
    <link href="../assets/css/default.css" rel="stylesheet" />

</head>

<body ng-controller="VariableSettingsController as vm" class="main-body container-fluid h-100 g-0 d-flex flex-column" ng-class="{'show-buttons':temp.showButtons}">
    <div class="busyOverlay" ng-show="view.isBusy"></div>
    <nav class="navbar sticky-top navbar-expand font-dark navbar-dark bg-dark">
        <div class="container-fluid p-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav nav-fill me-auto m-0">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" data-i18n="Options">Options</a>
                        <ul class="dropdown-menu dropdown-menu-start">
                            <li>
                                <div class="form-check form-switch">
                                    <input class="form-check-input hy-nostyle" type="checkbox" role="switch" id="autoupdate" checked ng-model="view.autoUpdate" ng-change="view.autoUpdate ? vm.loadVariables() : null" />
                                    <label class="form-check-label" for="autoupdate">Auto update</label>
                                </div>
                            </li>
                            <li><a class="dropdown-item" href="#" ng-click="downloadFile('xlsx')">Export as Excel</a></li>
                            <li><a class="dropdown-item" href="#" ng-click="downloadFile('csv')">Export as CSV</a></li>
                            <li><a class="dropdown-item" href="#" ng-click="downloadFile('json')">Export as json</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" ng-class="{active:!view.id}" ng-click="view.id=''" data-i18n="Variables">Variables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ng-class="{active:view.id=='coding'}" ng-click="view.id='coding'" data-i18n="Coding">Coding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#" ng-class="{active:view.id=='locale_timezone'}" ng-click="view.id='locale_timezone'" data-i18n="Locale Timezone">Locale Timezone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ng-class="{active:view.id=='formats'}" ng-click="view.id='formats'" data-i18n="Formats">Formats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ng-class="{active:view.id=='functions'}" ng-click="view.id='functions'" data-i18n="Functions">Functions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ng-class="{active:view.id=='fileserver'}" ng-click="view.id='fileserver'" data-i18n="File Server">File Server</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ng-class="{active:view.id=='exports'}" ng-click="view.id='exports'" data-i18n="Exports">Exports</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="main-view d-flex flex-column container g-2 pt-2 flex-grow-1" ng-show="!view.id">
        <div class="">
            <div class="card mt-1">
                <div class="card-header fw-bolder" ng-click="view.addVariable=!view.addVariable" data-i18n="Add variable">Add variable</div>
                <div class="card-body" ng-show="view.addVariable">
                    <form role="form">
                        <div class="form-group form-floating mb-1">
                            <input class="form-control hy-nostyle " id="variableName" type="text" ng-model="vm.newVariable.name" placeholder="Name"><span class="error">{{vm.errorMessage}}</span>
                            <label for="variableName" data-i18n="Variable name">Variable name</label>
                        </div>
                        <div class="form-group form-floating mb-1">
                            <select class="form-control hy-nostyle" name="variableType" id="variableType" ng-model="vm.newVariable.type" ng-change="vm.selectUpdate(vm.newVariable.type)">
                                <option value disbled="disabled" selected="selected" data-i18n="Select a value type">Select a value type</option>
                                <option value="string" data-i18n="String">String</option>
                                <option value="boolean" data-i18n="Boolean">Boolean</option>
                                <option value="number" data-i18n="Number">Number</option>
                                <option value="trigger" data-i18n="Trigger">Trigger</option>
                            </select>
                            <label for="variableType" data-i18n="Variable type">Variable type</label>
                        </div>
                        <!--<div class="form-group">
                            <label for="useInsight">Store insight</label>
                            <input class="" id="useInsight" type="checkbox" ng-model="vm.newVariable.hasInsights" placeholder="Name"><span class="error">{{vm.errorMessage}}</span>
                        </div>-->
                        <div class="form-group mb-1">
                            <div ng-switch on="vm.newVariable.type">
                                <div ng-switch-when="boolean">
                                    <div ng-include="'addboolean.html'" class="form-floating"></div>
                                </div>
                                <div ng-switch-when="number">
                                    <div ng-include="'addnumber.html'" class="form-floating"></div>
                                </div>
                                <div ng-switch-when="string">
                                    <div ng-include="'addstring.html'" class="form-floating"></div>
                                </div>
                                <div ng-switch-default>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <button class="btn btn-primary" type="button" ng-disabled="!vm.newVariable.name||!vm.newVariable.type" ng-click="vm.addVariable()" data-i18n="Add variable">Add variable</button>
                            <button class="btn btn-secondary" type="button" ng-click="vm.showExport()" data-i18n="Export">Export</button>
                            <button class="btn btn-secondary" type="button" ng-click="vm.showImport()" data-i18n="Import">Import</button>
                            <button class="btn btn-secondary" type="button" ng-click="vm.deleteAll()" data-i18n="Delete All">Delete All</button>
                        </div>
                        <h6 data-i18n="Be_aware_removing_variable">* Be aware that removing variables will corrupt flows that are using that variable.</h6>
                    </form>
                </div>
            </div>

            <div ng-show="vm.showExportToggle">
                <b>Exported values:</b><br />
                Copy selection below to save your configuration offline.
                <p>
                    <textarea rows="6" cols="60">{{vm.variables | json}}</textarea>
                </p>
            </div>
            <div ng-show="vm.showImportToggle">
                <b>Import values:</b><br />
                Paste in the box below the exported values. Be aware that all existing values and insights will be removed.
                <p>
                    <textarea rows="6" cols="60" ng-Model="vm.importJson"></textarea>
                <div class="form-group">
                    <button class="btn btn-primary" type="button" ng-click="vm.import()">Import</button>
                </div>
                </p>
            </div>
        </div>
        <div class="flex-grow-1 overflow-y-hidden">
            <table st-safe-src="vm.variables" st-table="displayedCollection" class="table st table-striped"><!-- style="width:200%">-->
                <thead>
                    <tr>
                        <th class="w-100" colspan="4">
                            <input st-search="name" placeholder="{{__('settings.search_for_name') || 'search for name'}}" class="input-sm form-control hy-nostyle" type="search" />
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="name" data-i18n="Name">Name</th>
                        <th st-sort="value" data-i18n="Value">Value</th>
                        <th st-sort="type" data-i18n="Type">Type</th>
                        <th st-sort="lastChanged" st-sort-default="reverse" data-i18n="Last set">Last set</th>
                        <!--<th st-sort="value">Insight</th>-->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="variable in displayedCollection" ng-include="vm.getTemplate(variable)"></tr>
                </tbody>
            </table>
        </div>
        <div ng-show="vm.selected" class="mt-2 b-1 bg-primary-subtle">
            <div ng-switch on="vm.selected.type">
                <div ng-switch-when="boolean">
                    <div ng-include="'editboolean.html'"></div>
                </div>
                <div ng-switch-when="number">
                    <div ng-include="'editnumber.html'"></div>
                </div>
                <div ng-switch-default>
                    <div ng-include="'editstring.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-view d-flex flex-column container g-2 flex-grow-1" ng-show="view.id=='fileserver'">

        <div class="flex-grow-1 overflow-y-auto pt-2 mb-btn">
            <form role="form" name="fileserverForm">
                <div class="card mt-1">
                    <div class="card-header fw-bolder" data-i18n="File Server">File Server</div>
                    <div class="card-body">
                        <div class="col-12" data-i18n="Configure_fileserver">Here you can configure the File Server that can be consumed by other apps, like <a href="#" bl-href="https://homey.app/a/nl.nielsdeklerk.log/">Simple (Sys) LOG</a>, to serve files on you LAN or to download them on the Homey
                            Mobile App or the <a href="#" bl-href="https://tools.developer.homey.app/tools/app-settings">Developertools</a>.</div>


                        <div class="form-label mb-1 mt-3" data-i18n="Configure_port_fileserver">
                            Configure the Port for the File Server to use for incoming connections.
                        </div>
                        <div class="col-12 form-group form-floating">
                            <input type="number" class="form-control hy-nostyle" name="serverport" placeholder="Serverport" ng-model="vars.fileserver.port" ng-model-options="{ debounce: 300 }" minlength="4" required="true" min="1024" max="65536" />
                            <label class="hy-nostyle" for="serverport" data-i18n="Serverport">Serverport</label>
                        </div>

                        <div class="form-label mb-1 mt-3" data-i18n="Automaticly_started_fileserver">
                            The File Server can be automaticly started when BLL is started, speeding up the first File request.
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input hy-nostyle" type="checkbox" role="switch" id="autoStart" ng-model="vars.fileserver.autoStart" ng-change="vars.fileserver.autoStart ? (vars.fileserver.autoShutdown=false) : null" />
                            <label class="form-check-label" for="autoStart" data-i18n="Auto_start_fileserver">Auto Start</label>
                        </div>

                        <div class="form-label mb-1 mt-3" data-i18n="Automaticly_shutdown_fileserver">
                            You can close the server automaticly as soon as there are no more files currently waiting for download.
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input hy-nostyle" type="checkbox" role="switch" id="autoShutdown" ng-model="vars.fileserver.autoShutdown" ng-disabled="vars.fileserver.autoStart" />
                            <label class="form-check-label" for="autoShutdown" data-i18n="Auto_shutdown_fileserver">Auto Shutdown</label>
                        </div>

                        <div class="form-label mb-1 mt-3" data-i18n="defineFileAvailableDuration">
                            Define the duration files will be available for download.
                        </div>
                        <div class="col-12 form-group form-floating">
                            <input type="number" class="form-control hy-nostyle" name="fileAvailableDuration" placeholder="Duration availability (in seconds)" ng-model="vars.fileserver.fileAvailableDuration" ng-model-options="{ debounce: 300 }" minlength="1" required="true" min="1" />
                            <label class="hy-nostyle" for="serverport" data-i18n="fileAvailableDuration">Duration availability (in seconds)</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="btn-group fixed-bottom">
                <button type="button" class="btn btn-primary hy-nostyle" ng-click="fileserverForm.$valid && fileserverForm.$dirty ? saveFileServer() : null;" ng-disabled="!fileserverForm.$valid || !fileserverForm.$dirty" data-i18n="Save">Save</button>
            </div>
        </div>
    </div>
    <div class="main-view d-flex flex-column container g-2 flex-grow-1" ng-show="view.id=='exports'">

        <div class="flex-grow-1 overflow-y-auto pt-2 mb-btn">
            <form role="form" name="exportsForm">
                <div class="card mt-1">
                    <div class="card-header fw-bolder" data-i18n="Excel">Excel</div>
                    <div class="card-body">
                        <div class="col-12 mb-1" data-i18n="excel_defaultdateformat_example">Here you can configure the default datetime format to use in Excel files. Please note that this is Excel formatting, not BLL coding.</div>
                        <div class="col-12 form-group form-floating">
                            <input type="text" class="form-control hy-nostyle" name="excel_defaultdateformat" placeholder="Serverport" ng-model="vars.exports.excel_defaultdateformat" ng-model-options="{ debounce: 300 }" required="true" />
                            <label class="hy-nostyle" for="excel_defaultdateformat" data-i18n="Default Date Format">Default Date Format</label>
                        </div>
                        <div class="col-12 mt-2 form-label" bl-translate>Set the filenames to use when exporting the variables.</div>
                        <div class="col-12 form-group form-floating">
                            <input type="text" class="form-control hy-nostyle" name="xlsxFilename" placeholder="Excel filename (* BLL supported)" ng-model="vars.exports.xlsxFilename" ng-model-options="{ debounce: 300 }" minlength="1" required="true" />
                            <label class="hy-nostyle" for="xlsxFilename" bl-translate>Excel filename (* BLL supported)</label>
                        </div>
                        <div class="col-12 form-group form-check form-switch">
                            <input class="form-check-input hy-nostyle" type="checkbox" role="switch" id="includeUtcInExcel" checked ng-model="vars.exports.includeUtcInExcel" />
                            <label class="form-check-label" for="includeUtcInExcel">Include UTC in Excel</label>
                        </div>

                        <div class="col-12 form-group form-floating mb-2">
                            <input type="text" class="form-control hy-nostyle" name="csvFilename" placeholder="CSV filename (* BLL supported)" ng-model="vars.exports.csvFilename" ng-model-options="{ debounce: 300 }" minlength="1" required="true" />
                            <label class="hy-nostyle" for="csvFilename" bl-translate>CSV filename (* BLL supported)</label>
                        </div>

                        <div class="col-12 form-group form-floating mb-2">
                            <input type="text" class="form-control hy-nostyle" name="jsonFilename" placeholder="JSON filename (* BLL supported)" ng-model="vars.exports.jsonFilename" ng-model-options="{ debounce: 300 }" minlength="1" required="true" />
                            <label class="hy-nostyle" for="jsonFilename" bl-translate>JSON filename (* BLL supported)</label>
                        </div>

                        <div class="col-12 mt-3" data-i18n="Shema_example">Here is an example schema to use in the format JSON as Excel flowcard.</div>

                        <pre class="pre" style="user-select: all;">[
    {
        column: 'Name',
        type: String,
        value: student => student.name
    },
    {
        column: 'Date of Birth',
        type: Date,
        format: 'mm/dd/yyyy',
        value: student => student.dateOfBirth
    },
    {
        column: 'Cost',
        type: Number,
        format: '#,##0.00',
        value: student => student.cost
    },
    {
        column: 'Paid',
        type: Boolean,
        value: student => student.paid
    }
]</pre>
                    </div>
                </div>
            </form>
            <div class="btn-group fixed-bottom">
                <button type="button" class="btn btn-primary hy-nostyle" ng-click="exportsForm.$valid && exportsForm.$dirty ? saveExports() : null;" ng-disabled="!exportsForm.$valid || !exportsForm.$dirty" data-i18n="Save">Save</button>
            </div>
        </div>
    </div>
    <div class="main-view d-flex flex-column container g-2 flex-grow-1" ng-show="view.id=='coding' || view.id=='locale_timezone' || view.id=='formats'">

        <div class="flex-grow-1 overflow-y-auto pt-2" ng-show="view.id=='coding'">
            <div class="card mt-1">
                <div class="card-header fw-bolder" data-i18n="BLL Coding">BLL Coding</div>
                <div class="card-body">
                    <form role="form">
                        <div class="col-12" data-i18n="BLL_codings_are_expressions">BLL codings are expressions within text-arguments in flowcards.</div>
                        <div class="col-12" data-i18n="In_every_app_that_supports">In every App that supports BLL coding, for each text-argument in flowcards that goes through the BLL decoder, you can use
                            <pre class="d-inline">{[ expression ]}</pre> .
                        </div>
                        <div class="col-12" data-i18n="Within_these_expressions">Within these expressions, you can use build-in modules, functions and your own customisable functions.</div>

                        <div class="col-12 fw-bold mt-2" data-i18n="Modules">Modules</div>
                        <ul>
                            <li>
                                <pre class="mb-0 pre-wrap">_</pre>
                                <a href="#" bl-href="https://lodash.com/docs/4.17.15">Lodash</a> 4.17.21
                            </li>
                            <li>
                                <pre class="mb-0 pre-wrap">math</pre>
                                <a href="#" bl-href="https://mathjs.org/docs/index.html">Math.js</a> 11.3.3
                            </li>
                            <li>
                                <div class="col-12 mt-1 mb-1 fw-bold" data-i18n="Example">Example</span></div>
                                <div class="col-12 mb-1"><input type="text" class="form-control hy-nostyle" value="" ng-model="vars.moduleExampleValue" ng-change="updateModuleExample();" ng-model-options="{ debounce: 300 }" /></div>
                                <div class="col-12">{{vars.moduleExampleResult}}</div>
                            </li>
                        </ul>
                        <div class="col-12 fw-bold" data-i18n="Build-in functions">Build-in functions</div>
                        <ul>
                            <li>
                                <pre class="mb-0 pre-wrap fw-bolder fs-6">date(format, date?, locale?, timeZone?)</pre>
                                <div class="col-12" data-i18n="Method_date_explanation">This method will return the current date(time) in the entered format, with respect to the users defined locale (language) en timezone.</div>
                                <div class="col-12" data-i18n="Method_date_optionally">Optionally you can supply the date(time), locale and/or timeZone.</div>
                                <div class="col-12 mt-1 mb-1 fw-bold" data-i18n="Example">Example</div>
                                <div class="col-12 mb-1"><input class="form-control hy-nostyle" type="text" value="" ng-model="vars.dateExampleValue" ng-change="updateDateExample();" ng-model-options="{ debounce: 300 }" /></div>
                                <div class="col-12" ng-bind="vars.dateExampleResult"></div>
                            </li>
                            <li>
                                <pre class="mb-0 pre-wrap fw-bolder fs-6">time(format, timeMs?, timeSec?)</pre>
                                <div class="col-12" data-i18n="Method_time_explanation">This method will return the given time in the entered format.</div>
                                <div class="col-12 mt-1 mb-1 fw-bold" data-i18n="Example">Example</div>
                                <div class="col-12 mb-1"><input class="form-control hy-nostyle" type="text" value="" ng-model="vars.timeExampleValue" ng-change="updateTimeExample();" ng-model-options="{ debounce: 300 }" /></div>
                                <div class="col-12" ng-bind="vars.timeExampleResult"></div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

        <div class="flex-grow-1 overflow-y-auto pt-2" ng-show="view.id=='locale_timezone'">
            <div class="card mt-1">
                <div class="card-header fw-bolder" data-i18n="Locale and Timezone">Locale and Timezone</div>
                <div class="card-body">
                    <form role="form">
                        <div class="col-12" data-i18n="Configure_locale_timezone">Here you can configure your locale (language) and timezone.</div>
                        <div class="col-12" data-i18n="Later_on_each_app">Later on, you will be able to configure this from here separatly for each app that uses BLL coding.</div>
                        <div class="col-12">
                            <div class="form-floating hy-nostyle">
                                <select id="locale" name="locale" class="form-control hy-nostyle" ng-model="vars.locale.default" ng-change="setLocale();">
                                    <option ng-if="!vars.locales.indexOf(vars.locale.default)==-1" ng-value="vars.locale.default" ng-bind="vars.locale.default"></option>
                                    <option ng-repeat="locale in vars.locales" ng-value="locale.tag">{{locale.name}} ({{locale.tag}})</option>
                                </select>
                                <label for="locale" data-i18n="Locale">Locale</label>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="flex-grow-1 overflow-y-auto pt-2 mb-btn" ng-show="view.id=='formats'">
            <form role="form" name="formatsForm">
                <div class="card mt-1">
                    <div class="card-header fw-bolder" data-i18n="Custom formats">Custom formats</div>
                    <div class="card-body container">
                        <div class="col-12 mb-3" data-i18n="Create_custom_datetime_formats">Here you can create custom datetime definitions with any format you wish.</div>
                        <div ng-repeat="format in vars.locale.customDateFormats">
                            <div class="col-9 d-inline-block">
                                <div class="col-12 form-group form-floating">
                                    <input type="text" class="form-control hy-nostyle" name="customformat{{$index}}" placeholder="Name" ng-model="format.name" ng-model-options="{ debounce: 300 }" minlength="1" required="true" />
                                    <label class="hy-nostyle" for="customformat{{$index}}" data-i18n="Name">Name</label>
                                </div>
                            </div>
                            <div class="btn btn-secondary" ng-click="removeCustomFormat($index);"><span class="fa fa-icon fa-trash"></div>
                            <div class="col-12 form-group form-floating">
                                <input type="text" class="form-control hy-nostyle" name="customformat{{$index}}" placeholder="dd-MM" ng-model="format.format" ng-change="setCustomFormat(format);" ng-model-options="{ debounce: 300 }" minlength="1" required="true" />
                                <label class="hy-nostyle" for="customformat{{$index}}" data-i18n="Format">Format</label>
                            </div>
                            <div class="col-12 mb-2">{{temp.dateFormats[format.format] || vars.datesExampleResult[format.format]}}</div>
                        </div>
                        <div class="col-12 btn btn-primary" ng-click="addCustomFormat();" data-i18n="Add">Add</div>
                    </div>
                </div>
                <div class="container mt-2 mb-2">
                    <div class="col-12" data-i18n="Alter_default_datetime_formats">Here you can alter the definition of any default datetime formats.</div>
                    <div class="col-12" data-i18n="Applies_to_every_app">This will be applied to every app using the BLL coding or DateTime.</div>
                </div>
                <div class="card mt-1" ng-repeat="type in vars.dateFormats">
                    <div class="card-header fw-bolder" ng-bind="type.label"></div>
                    <div class="card-body container">
                        <div ng-repeat="format in type.formats">
                            <div class="col-12 col-sm-7 form-group form-floating">
                                <input type="text" class="form-control hy-nostyle" name="format{{format}}" placeholder="{{format}}" ng-model="vars.locale.dateFormats[format]" ng-change="setFormatExample(format);" ng-model-options="{ debounce: 300 }" />
                                <label class="hy-nostyle" for="format{{format}}">{{format}}</label>
                            </div>
                            <div class="col-12 col-sm-12 mb-2">{{temp.dateFormats[format] || vars.datesExampleResult[format]}}</div>
                        </div>

                    </div>
                </div>
            </form>
            <div class="btn-group fixed-bottom">
                <button type="button" class="btn btn-primary hy-nostyle" ng-click="formatsForm.$valid && formatsForm.$dirty ? setLocale() : null;" ng-disabled="!formatsForm.$valid || !formatsForm.$dirty" data-i18n="Save">Save</button>
            </div>
        </div>

        <div class="flex-grow-1 pt-2" ng-show="view.id=='coding' || view.id=='locale_timezone'">
            <div class="sub-view  overflow-y-auto">
                <div class="card mt-1" ng-repeat="type in vars.dateOptions">
                    <div class="card-header fw-bolder" ng-bind="type.label"></div>
                    <div class="card-body container">
                        <div class="row" ng-repeat="format in type.formats">
                            <div class="col-5">{{format}}</div>
                            <div class="col-7">{{vars.datesExampleResult[format]}}</div>
                        </div>
                    </div>
                </div>
                <div class="card mt-1" ng-repeat="type in vars.timeOptions">
                    <div class="card-header fw-bolder" ng-bind="type.label"></div>
                    <div class="card-body container">
                        <div class="row" ng-repeat="format in type.formats">
                            <div class="col-5">{{format}}</div>
                            <div class="col-7">{{vars.timesExampleResult[format]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Functions  -->
    <div class="main-view d-flex flex-column container g-2 pt-2 flex-grow-1" ng-show="view.id=='functions'">
        <div class="card mt-1">
            <div class="card-header fw-bolder" data-i18n="settings.functions">Functions</div>
            <div class="card-body container">
                <div>
                    <div data-i18n="settings.functions_expressions">These functions can be used within (javascript) expression.</div>
                    <div data-i18n="settings.functions_be_aware">Be aware that removing functions will corrupt flows that are using that function.</div>
                    <div data-i18n="settings.add_function_text mt-1">To create a function, enter a name and press Add Function.</div>
                    <form role="form">
                        <div class="form-group form-floating mt-1 mb-1">
                            <input class="form-control hy-nostyle mb-1" id="functionName" type="text" ng-model="newFunction.name" placeholder="{{__('settings.name') || 'Name'}}">
                            <span class="d-block alert alert-danger" ng-show="messages && messages.length">{{messages}}</span>
                            <label for="functionName" data-i18n="settings.function_name">Function name</label>
                        </div>

                        <div class="btn-group w-100">
                            <button class="btn btn-primary col-6 hy-nostyle" type="button" ng-disabled="!newFunction.name" ng-click="addFunction()" data-i18n="settings.add_function">Add function</button>
                            <button class="btn btn-secondary col-6 hy-nostyle" type="button" ng-click="deleteAll()" data-i18n="settings.delete_all">Delete All</button>
                        </div>
                    </form>

                </div>
                <div class="">
                    <table st-safe-src="functions" st-table="displayedFunctions" class="table table-striped functions-table">
                        <thead>
                            <tr>
                                <th st-sort="name" colspan="3" data-i18n="settings.name">Name</th>
                            </tr>
                            <tr>
                                <th colspan="3">
                                    <input st-search="name" placeholder="{{__('settings.search_for_name') || 'search for name'}}" class="input-sm form-control hy-nostyle" type="search" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="function in displayedFunctions">
                                <td class="fw-bold">{{function.name}}</td>
                                <td><button class="btn btn-secondary hy-nostyle" ng-click="editFunction(function)" data-i18n="settings.edit">{{__('settings.edit') || 'Edit'}}</button></td>
                                <td><button class="btn btn-secondary hy-nostyle" ng-click="removeFunction(function)" data-i18n="settings.delete">{{__('settings.delete') || 'Delete'}}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="editFunction" ng-if="editFunctionItem" class="main-floating">
            <input class="input-sm form-control hy-nostyle" style="height:40px;" ng-model="editFunctionItem.name" />
            <div style=" height: calc(100% - 80px);">
                <textarea ui-codemirror ui-codemirror-opts="editorOptions" type="text" class="form-control h-100" ng-model="editFunctionItem.value" placeholder="function () {

}"></textarea>
            </div>
            <div class="btn-group w-100">
                <button class="btn btn-secondary col-6 hy-nostyle" ng-click="saveActiveFunction()" data-i18n="settings.save">Save</button>
                <button class="btn btn-primary col-6 hy-nostyle" ng-click="saveActiveFunction(true)" data-i18n="settings.save_close">Save & Close</button>
            </div>
        </div>
    </div>


    <script type="text/ng-template" id="display">
        <td>{{variable.name}}</td>
        
        <td ng-if="variable.type === 'boolean'">{{variable.value}}</td>
        <td ng-if="variable.type === 'number'">{{variable.value}}</td>
        <td ng-if="variable.type === 'string'">{{variable.value}}</td>
        <td ng-if="variable.type === 'trigger'">{{(vars.variableDates[variable.lastChanged]) || (variable.value | date:'yyyy-MM-dd HH:mm:ss')}}</td>
        <td>{{variable.type}}</td>
        <td>{{(vars.variableDates[variable.lastChanged]) || (variable.lastChanged | date:'yyyy-MM-dd HH:mm:ss')}}</td>
        <!--<td><input type='checkbox' disabled ng-model='variable.hasInsights' /></td>-->
        <td>
            <button class="btn btn-secondary hy-nostyle" ng-click="vm.editVariable(variable)" ng-if="variable.type !== 'trigger'"><span class="fa fa-icon fa-pen-to-square"></span></button>
            <button class="btn btn-secondary hy-nostyle" ng-click="vm.triggerVariable(variable)" ng-if="variable.type === 'trigger'"><span class="fa fa-icon fa-bolt"></span></button>
            <button class="btn btn-secondary hy-nostyle" ng-click="vm.removeVariable(variable)"><span class="fa fa-icon fa-trash"></span></button>
        </td>
    </script>

    <script type="text/ng-template" id="edit">
        <td>{{vm.selected.name}}</td>
        <td>
            <!-- <div ng-switch on="vm.selected.type">
                <div ng-switch-when="boolean"><div ng-include="'editboolean.html'"></div></div>
                <div ng-switch-when="number"><div ng-include="'editnumber.html'"></div></div>
                <div ng-switch-default><div ng-include="'editstring.html'"></div></div>
            </div> -->
        </td>
        <td data-i18n="">{{vm.selected.type}}</td>
        <td>{{(vars.variableDates[variable.lastChanged]) || (variable.lastChanged | date:'yyyy-MM-dd HH:mm:ss')}}</td>
        <!--<td><input class="col-2" id="variableValue" type="checkbox" ng-model="vm.selected.hasInsights" placeholder="value"></td>-->
        
        <td>
            <button class="btn hy-nostyle" ng-class="{'btn-primary':vm.selected.name==variable.name, 'btn-secondary':vm.selected.name!=variable.name}" ng-click="vm.saveVariable(variable)"><span class="fa fa-icon fa-floppy-disk"></span></button>
            <button class="btn btn-secondary hy-nostyle" ng-click="vm.reset()"><span class="fa fa-icon fa-ban"></span></button>
        </td>
    </script>

    <script type="text/ng-template" id="addnumber.html">
        <input class="form-control hy-nostyle" id="variableValue" type="number" ng-disabled="!vm.newVariable.name||!vm.newVariable.type" ng-model="vm.newVariable.value" placeholder="value">
        <label for="variableValue" data-i18n="Variable value">Variable value</label>
    </script>
    <script type="text/ng-template" id="addstring.html">
        <input class="form-control hy-nostyle" id="variableValue" type="text" ng-disabled="!vm.newVariable.name||!vm.newVariable.type" ng-model="vm.newVariable.value" placeholder="value">
        <label for="variableValue" data-i18n="Variable value">Variable value</label>
    </script>
    <script type="text/ng-template" id="addboolean.html">
        <input class=" hy-nostyle" id="variableValue" type="checkbox" ng-disabled="!vm.newVariable.name||!vm.newVariable.type" ng-model="vm.newVariable.value" placeholder="value">
        <label for="variableValue" data-i18n="Variable value">Variable value</label>
    </script>
    <script type="text/ng-template" id="editnumber.html">
        <input class="form-control col-2 hy-nostyle" id="variableValue" type="number" ng-model="vm.selected.value" placeholder="value">
    </script>
    <script type="text/ng-template" id="editstring.html">
        <textarea rows="4" class="form-control col-2 hy-nostyle bg-primary-subtle" id="variableValue" type="text" ng-model="vm.selected.value" placeholder="value"></textarea>
    </script>
    <script type="text/ng-template" id="editboolean.html">
        <input class="col-2 hy-nostyle" id="variableValue" type="checkbox" ng-model="vm.selected.value" placeholder="value">
    </script>
    <!-- <script>
        function onHomeyReady(Homey) {
            Homey.ready();
            var scope = angular.element(document.getElementById('variableName')).scope();
            console.log(scope);
            scope.$apply(function () {
                scope.vm.init(Homey, scope);
            });
        }
    </script> -->
    <script>
        function onHomeyReady(Homey) {
            Homey.ready();
            angular.bootstrap(document, ['variableApp']);
        }
    </script>
</body>

</html>