.busyOverlay {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:white;
    opacity: 0.3;
    z-index:2000;    
}

input.ng-invalid {
    border-color: var(--bs-danger)!important;
}
