
html {
    height: 100%;
}
        
html > body.main-body  {
    padding: 0 !important;
}


.main-view {
    overflow-y:auto;
    /* height: calc(100% - 126px); */
}
.main-view>.flex-grow-1 {
    min-height:auto;
}

.main-floating {
    position: fixed;
    z-index: 1030;
    top: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    left:0px;
}

.show-buttons .main-view {
    /* height: calc(100% - 160px); */
}

.sub-view {
    height: 35vh;
}

.CodeMirror {
    height:98%;
}


label:not(.hy-nostyle),
.hy-label {
    text-transform: initial;
    font-size: 12pt;
}

.form-floating label {
    font-size: 10px;
}
.functions-table {
    height: auto!important;
}


:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

}

.btn-primary {
    /* --bs-btn-disabled-bg:#1e1e1e; */
}
.btn-group {
    background-color:var(--bs-light);
}
/* table.st th,  */
table.st tbody td {
    word-break: break-word;
    max-height:100px;
}
table.st td textarea {
    position: fixed;
    left: 0px;
    height: 90px;
    width: 70%;
}

.mb-btn {
    margin-bottom:40px;
}
/* 
.navbar .nav-fill .nav-link {
    white-space: pre-line;
} */