.overflow-y {
    overflow-y:scroll;
}
.overflow-y-auto {
    overflow-y:auto;
}
[ng-click^="show"],
[ng-click^="view"],
[ng-click] {
    cursor: pointer;
}

.pre-wrap {
    white-space:pre-wrap;
}



input.ng-invalid {
    border-color: var(--bs-danger)!important;
}

